.header {
  width: 1280px;
  margin: 0 auto;
  color: #1565c0;
}

.header__line {
  border: none; 
    color: #1565c0; 
    background-color: #1565c0; 
    height: 1px;
    margin-bottom: 30px; 
}

.main-info {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cities-wrapper {
  border: 1px solid #1565c0;
  border-radius: 10px;
  width: 20%;
  padding-bottom: 10px;
}

.cities-wrapper__label{
  margin-left: 10px;
}

.cities {
  display: flex;
  flex-direction: column;
}

.city {
  font-size: 20px;
  text-align: left;
  padding: 15px 20px;
  background-color: #ffffff;
  border: none;
  color: #1565c0;
}

.city:hover {
  /* border: 1px solid #5e92f3; */
  border-radius: 5px;
  background-color: #5e92f3;
  color: #ffffff;
}

.city__active {
  font-size: 20px;
  text-align: left;
  padding: 15px 20px;
  background-color: #ffffff;
  border: none;
  color: #1565c0;
  border-radius: 5px;
  background-color: #1565c0;
  color: #ffffff;
}

.city-status {
  display: flex;
  font-size: 32px;
  margin: 0;
}

.weather-display {
  width: 78%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #1565c0;
  border-radius: 10px;
  justify-content: center;
}

.weather-display__error {
  border: 1px solid #d32f2f;
  border-radius: 10px;
  padding: 0 10px;
  margin: auto;
  background-color: #d32f2f;
  color: #ffffff;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-info__item {
  font-size: 18px;
  /* color:#4b636e; */
  margin: 5px 0;
}

